[submodule "phase1-database-sbe_database_spring25_team10"]
	path = phase1-database-sbe_database_spring25_team10
	url = https://github.com/sbme-tutorials/phase1-database-sbe_database_spring25_team10.git
